.container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.emblem {
    display: flex;
}

.subcontainer {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: large;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: medium;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
}

.duration {
    margin-left: auto;
}