.container {
    display: flex;
    width: fit-content;

    button {
        all: unset;  /* Reset all properties */
        display: inline-block;
        cursor: pointer;
    }
}

.datetime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
    }
}