
.topbar {
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .resources {
        background-color: blue;
        flex-grow: 1;
        display: flex;
        justify-content: space-evenly;
    }
}